/*CSS reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

/*pozicionálás*/
.profil-card {
  width: 480px;
  max-width: calc(100vw - 10px);
}

body {
  background: url('assets/whitehouse.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Rajdhani';
  color: darkblue;
}

#profil-card {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
} 


#profil-image {
  width: 500px;
  height: 700px;
  float: left;
  background: url(assets/claireunderwood.jpeg);
  margin-left: 100px;
  margin-top: 22.5px;
  border-radius: 5%;
}

img {
  width: 500px;
  height: 700px;
  border-radius: 5%;
}

img:hover {
  transform: scale(1.1);
}

#personal-dates {
  width: 700px;
  height: 700px;
  float: right;
  border-radius: 5%;
  margin-top: 22.5px;
  margin-right: 100px;
  background-color: hsla(0, 0%, 100%, .8);
}

h1:hover {
  transform: scale(1.1);
}

h2:hover {
  transform: scale(1.1);
}

p:hover {
  transform: scale(1.1);
}

#name {
  width: 600px;
  height: 200px;
  margin-top: 40px;
  margin-left: 50px;
  line-height: 1.5;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 20px;
}

#about {
  width: 600px;
  height: 200px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-top: 20px;
  line-height: 2.5;
  text-align: justify;
}

#links {
  width: 600px;
  height: 100px;
  margin-bottom: 10px;
  margin-left: 50px;
  text-align: center;
  margin-top: 90px;
}

/* Contact links */

ul {
  list-style-type: none;
}

li {
  display: inline;
}